@use "common" as *;
/*** Flag ***/
.flag {
  display: inline-block;
  border-radius: rem(4);
  color: #fff;
  user-select: none;
  &.flag-gray {
    background-color: #8a99af;
  }
  &.flag-blue {
    background-color: #3056d3;
  }
  &.flag-red {
    background-color: #f42b37;
  }
  &.flag-black {
    background-color: #23252a;
  }
  &.flag-green {
    background-color: #22d663;
  }
  &.size-l {
    // H32
    padding: rem(4) rem(10);
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(24);
  }
  &.size-m {
    // H26
    padding: rem(2) rem(6);
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(22);
  }
  &.size-s {
    // H18
    padding: rem(1) rem(6);
    font-size: rem(12);
    line-height: rem(16);
  }
}
