@use "common" as *;

.btn-dashboard {
  display: flex;
  align-items: center;
  height: rem(120);
  padding: rem(40);
  background: #dae1fb url("/images/img_btn_dashboard.png") no-repeat right
    bottom;
  border: 1px solid #cddcf3;
  border-radius: rem(2);
  box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
  gap: rem(8);
  color: #3056d3;
  font-size: rem(22);
  font-weight: 700;
  line-height: rem(28);
}

.box-cont.cnt {
  flex-grow: 0;
  .item {
    position: relative;
    text-align: right;
    svg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  > hr {
    border-color: #e2e8f0;
  }
}

.h-tit {
  color: #606882;
  font-size: rem(16);
  font-weight: 500;
  line-height: rem(24);
}
.h-num {
  margin-top: rem(12);
  font-size: rem(18);
  font-weight: 600;
  line-height: rem(26);
}

.h-table {
  table {
    table-layout: fixed;
    width: 100%;
    th {
      padding: 0 rem(16);
      color: #606882;
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(22);
    }
    td {
      padding: rem(5) rem(16);
    }
  }
}

.h-notice {
  > li {
    display: grid;
    grid-template-columns: 9rem 1fr 9.5rem;
    grid-auto-rows: minmax(3.8125rem, auto);
    align-items: center;
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(22);
    & + li {
      border-top: 1px solid #e2e8f0;
    }
    .cate {
      padding: 0 rem(16);
      text-align: center;
    }
    .tit {
      padding: 0 rem(16);
      text-align: left;
    }
    .date {
      color: #606882;
    }
  }
}
